<h1>How This Works</h1>
<h2>Create an account</h2>
<p>Creating an account is easy, just click here and fill out a simple form.</p>
<hr>
<h2>If you want to find a place to stay</h2>
<h3>Create a profile</h3>
<p>Creating a profile is telling our community about yourself.  From what kinds of foods you like to your favorite hobbies our hosts and members want to know who you are.  Once you have created an account the next step is to fill out your profile.</p>
<h3>Upload or allow us to take a picture</h3>
<p>You can upload your favorite picture, or you can allow our system to take one using the camera on your computer.  In either case a picture helps everyone know that they have the right place or guest.</p>
<h3>Add your details</h3>
<p>Your address, and phone number, and other contact information make the whole process go better.</p>
<hr>
<h2>If you want to list your place</h2>
<h3>Do everything above under If you want to find a place to stay</h3>
<h3>Check local laws</h3>
<p>Some locations do not allow private parties to rent out their spaces to guests.  Check local statues before you sign up.</p>
<h3>Take pictures</h3>
<p>Pictures speak a thousand words and do so over thousands of miles.  The better the pictures are of your property the more people will be interested in staying there.</p>
<h3>Write a description</h3>
<p>Pictures say a lot but they can't say everything.  People want to know about your neighborhood, the amenities you have, and what to do while they are staying.</p>
<h3>Set some available dates and a price</h3>
<p>Once you have told the world what they are coming to, you need to tell them when they can come and how much it will cost.  Set some dates when your space is available, and then set a price.  We have some guides that will help you figure out how to set a price.</p>





