body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #5a5a5a;
  background-color: #fff;
}
html {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
#header {
  font-size: 12px;
}
.navbar {
  overflow: visible;
  margin-bottom: 18px;
}
ul, ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
.navbar-top .navbar-inner, .navbar-fixed-top .navbar-inner {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #d0d0d0;
}

.navbar-inner {
  height:39px;
  padding: 7px 20px;
  background-color: #efefef;
  background: -webkit-linear-gradient(top, #fff 0%, #f9f9f9 50%, #f1f1f1 50.1%, #efefef 100%);
  background: -moz-linear-gradient(top, #fff 0%, #f9f9f9 50%, #f1f1f1 50.1%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffefefef', GradientType=0);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 0 5px 2px #fff, 0 0 0 #000;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 0 5px 2px #fff, 0 0 0 #000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 0 5px 2px #fff, 0 0 0 #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d0d0d0;
}
.container {
  position: relative;
  width: 995px;
  margin: 0 auto 0 auto;
}
.brand.airbnb {
  color: transparent;
  background: url(mybnb.png);
  text-shadow: none;
  width: 106px;
  box-sizing: border-box;
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 2px;
  margin-left: -4px;
  text-indent: -9999px;
  position: relative;
  z-index: 2;
}

.navbar .brand {
  float: left;
  display: block;
  padding: 9px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #393c3d;
  text-shadow: 0 1px 0 white;
}
#header .nav.logged-out {
  display: block;
}
.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.navbar .nav.pull-right {
  margin-left: 10px;
  margin-right: 0;
  float: right;
}
.pull-right {
  float: right;
}
.pull-left{
  float: left;
}

.navbar .nav>li {
  display: block;
  float: left;
}

li {
  line-height: 18px;
}
.navbar .nav>li {
  display: block;
  float: left;
}
.navbar .divider-vertical {
  height: 30px;
  width: 1px;
  margin: 5px 3px 5px 4px;
  overflow: hidden;
  border-right: 1px solid #fff;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #fff 0%,#ddd 30%,#ddd 70%,#fff 100%);
  background-image: -moz-linear-gradient(top, #fff 0%,#ddd 30%,#ddd 70%,#fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0);
}
#header .nav>li>a {
  padding: 5px 4px;
}
.navbar .nav>li>a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
}
.navbar .nav>li a {
  position: relative;
}
.nav>li>a {
  margin-top: 6px;
  display: block;
  float: none;
  padding: 5px 8px;
  color: #5a5a5a;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid transparent;
}
a {
  color: #1d95cb;
  text-decoration: none;
}
#list-your-space {
  font-size: 13px;
  margin-left: 10px;
}
.btn.yellow {
  border-color: #e0b518 #d2a70c #c59a01;
  background-color: #fced85;
  background-color: #f3c714;
  background: -webkit-linear-gradient(top, #fced85 0%, #fde54c 50%, #fdda43 50.1%, #f3c714 100%);
  background: -moz-linear-gradient(top, #fced85 0%, #fde54c 50%, #fdda43 50.1%, #f3c714 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffced85', endColorstr='#fff3c714', GradientType=0);
  color: #393c3d;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

.btn {
  display: inline-block;
  padding: 0.4em 0.9em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  vertical-align: middle;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #127eaf;
  background: -webkit-linear-gradient(top, #25a8e3 0%, #1c92c8 50%, #188bc1 50.1%, #127eaf 100%);
  background: -moz-linear-gradient(top, #25a8e3 0%, #1c92c8 50%, #188bc1 50.1%, #127eaf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff25a8e3', endColorstr='#ff127eaf', GradientType=0);
  border-color: #127eaf #1878a5 #126a94 #1878a5;
  -webkit-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.15), 0 0 0 #000;
  -moz-box-shadow: inset 0 0 0.2em rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.15),0 0 0 #000;
  box-shadow: inset 0 0 0.2em rgba(255,255,255,0.5), 0 1px 2px rgba(0,0,0,0.15), 0 0 0 #000;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
}

body.home_view .app_view, body.app_how {
  margin-top: 18px;
}
.app_view, .app_how {
  min-height: 400px;
}
.app_how img{
  max-width: 25%;
  margin: 20px 5px 5px;
  border: 3px solid #5a5a5a;
  border-radius: 5px;
}
.app_how h2{
  color: #0ea5dc;
}

#hero {
  z-index: 1;
  position: relative;
  height: 700px;
  margin-top: -18px;
  margin-bottom: 53px;
  display: none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
}

#slideshow {
  margin: 0;
}
ul.unstyled, ol.unstyled {
  margin: 0;
  list-style: none;
}
#slideshow li.active {
  display: block;
  z-index: 100;
}
#slideshow li {
  position: absolute;
  z-index: 80;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.search-area {
  height: 100%;
  z-index: 160;
  position: absolute;
  top: 0;
  height: 300px;
  width: 100%;
  padding-top: 140px;
  text-shadow: 0 0 15px rgba(0,0,0,0.6), 0 -1px 1px rgba(0,0,0,0.6);
}

.search-area h1 {
  font-size: 48px;
  margin-bottom: 8px;
}
.search-area h1, .search-area h2 {
  color: #fff;
  line-height: 1.2;
}

.search-area h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.search-area h1, .search-area h2 {
  color: #fff;
  line-height: 1.2;
}

.search-area form {
  background: rgba(57,60,61,0.8);
  -o-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.8);
  padding: 4px;
  line-height: 1.2;
}
.position-left {
  float: left;
}
.search-area .input-wrapper {
  margin-right: 4px;
  position: relative;
  float: left;
}
#location {
  width: 350px;
}
.search-area input[type="text"] {
  float: left;
  height: 23px;
  margin: 0;
  width: 110px;
  -o-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4);
}
.search-area input[type='text'],.search-area input[type='date'], .search-area .dropdown {
  border: 1px solid #000;
  text-shadow: 0 1px 1px #fff;
  padding: 8px 12px;
  font-size: 17px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.custom.selector, .search-area-icon {
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 50%;
  margin-top: -12px;
  color: gray;

}
.search-area-icon-checkout {
  background-position: 1px -18px;
}
.search-area .fa-user{
  margin-top: -15px;
}
.custom.dropdown.small {
  width: 120px;
}
.custom.dropdown {
  height: 22px;
  padding-top: 10px !important;
}
.search-area .dropdown {
  background-color: #efefef;
  background: -webkit-linear-gradient(top, #fff 0%, #f9f9f9 50%, #f1f1f1 50.1%, #efefef 100%);
  background: -moz-linear-gradient(top, #fff 0%, #f9f9f9 50%, #f1f1f1 50.1%, #efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffefefef', GradientType=0);  padding-bottom: 7px;
}
.dropdown {
  position: relative;
}
.custom-select-container select {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  width: auto;
}
input, select, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 #000;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 0 #000;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 0 #000;
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
}
select {
  width: 220px;
  background-color: #fff;
}
select, input[type="file"] {
  height: 28px;
  line-height: 28px;
}
input, textarea, select, .uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #5a5a5a;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input, button, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label, input, button, select, textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
.custom.selector {
  background-position: 1px -38px;
}
.search-area .icon-and-text {
  height: 41px;
  padding: 8px 16px;
}
.btn.large {
  font-size: 18px;
}
.btn.pink {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #bf0265;
  background: -webkit-linear-gradient(top, #ed1d89 0%, #db167d 50%, #d21276 50.1%, #bf0265 100%);
  background: -moz-linear-gradient(top, #ed1d89 0%, #db167d 50%, #d21276 50.1%, #bf0265 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffed1d89', endColorstr='#ffbf0265', GradientType=0);
  border-color: #bf0265 #b11265 #a30e5c #b11265;
}
